apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longhorn

resources:
  - namespace.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.9.0
    releaseName: longhorn
    valuesInline:
      persistence:
        defaultClassReplicaCount: 3
      longhornUI:
        replicas: 1
