apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tailscale

resources:
  - namespace.yaml
  - externalSecret.yaml

helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    version: 1.92.5
    releaseName: tailscale-operator
    namespace: tailscale
    valuesInline:
      apiServerProxyConfig:
        mode: "true"
      proxyConfig:
        podAnnotations:
          argocd.argoproj.io/instance: tailscale
