---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: esphome
spec:
  replicas: 1
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      containers:
      - name: esphome
        image: ghcr.io/esphome/esphome:2023.12.9
        imagePullPolicy: IfNotPresent
        env:
          - name: ESPHOME_DASHBOARD_USE_PING
            value: "true"
        ports:
        - name: http
          containerPort: 6052
          protocol: TCP
        volumeMounts:
          - name: config
            mountPath: /config
          - name: cache
            mountPath: /cache
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: esphome
        - name: cache
          persistentVolumeClaim:
            claimName: esphome-cache
---
apiVersion: v1
kind: Service
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  ports:
  - port: 6052
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: esphome
  clusterIP: None
---
