---
apiVersion: v1
kind: ConfigMap
metadata:
  name: the-block
data:
  HOMEASSISTANT_URL: "http://192.168.1.114:8123/api"
  LOG_LEVEL: "INFO"
  NAVI_JSON: '{"menu.main":{"x+":"scene.goodnight","x-":"scene.goodmorning","y+":"scene.gaming","y-":"switch.office_viv_light2.toggle", "z+":"media_player.spotify", "z-":"bright.office_plant_dimmer"}}'
  SCENE_JSON: '{"scene.goodnight":["switch.office_viv_backlight.turn_off","switch.office_closet_growout.turn_off","switch.office_plantbox_growlight.turn_off","light.office_plant_dimmer.turn_off","light.office_olive_light.turn_off","light.office_cabinet_leds.turn_off","light.office_closet_light.turn_off","light.living_north_lamp.turn_off","light.living_south_lamp.turn_off","light.living_monstera_light.turn_off","media_player.spotify.media_pause"],"scene.goodmorning":["light.office_plant_dimmer.turn_on","media_player.spotify.media_play"],"scene.gaming":["switch.office_viv_backlight.turn_off","switch.office_closet_growout.turn_off","switch.office_plantbox_growlight.turn_off","light.office_plant_dimmer.turn_off","light.office_olive_light.turn_off","light.office_cabinet_leds.turn_on","light.office_closet_light.turn_off"]}'
---
